* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body {
  height: 100%;
  width: 100%;
}

#page1 {
  height: 100%;
  width: 100%;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page2 {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
#page3 {
  height: 100%;
  width: 100%;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}
#box {
  height: 250px;
  width: 250px;
  background-color: crimson;
}
h1 {
  font-size: 60px;
  position: relative;
  background-color: red;
  padding: 10px;
}
h2 {
  font-size: 60px;
  position: relative;
  background-color: yellow;
  padding: 10px;
}
