* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  overflow-x: hidden;
}
.section1 {
  height: 100%;
  width: 100%;
  position: relative;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 90px;
}
.part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
nav h1 {
  font-size: 50px;
}
nav h1 i {
  rotate: 45deg;
  display: inline-block;
  font-size: 55px;
}
nav h4 {
  font-style: 25px;
  font-weight: 500;
  cursor: pointer;
}
nav h4:hover {
  color: #9ae975;
}
nav button {
  padding: 22px 40px;
  font-style: 22px;
  background-color: transparent;
  border-radius: 10px;
  font-weight: 600;
  border: 2px solid #000;
  cursor: pointer;
}
nav button:hover {
  color: #9ae975;
}
.center {
  padding: 30px 90px;
  height: 75%;
  width: 100%;
  display: flex;
}
.center_part1 {
  height: 100%;
  width: 44%;
}
.center_part1 h1 {
  margin-top: 10px;
  line-height: 1.1;
  font-size: 47px;
  font-weight: 800;
  width: 81%;
  font-family: "Courier New", Courier, monospace;
}
.center_part1 p {
  font-size: 21px;
  width: 95%;
  margin-top: 40px;
  margin-bottom: 25px;
  color: rgb(80, 80, 80);
}
.center_part1 button {
  background: black;
  color: #fff;
  border-radius: 10px;
  padding: 20px 35px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
  border: none;
}
.center_part2 {
  height: 100%;
  width: 56%;
  position: relative;
}
.center_part2 img {
  position: absolute;
  right: 50px;
  height: 100%;
}
.section1bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 120px;
}
.section1bottom img {
  height: 60px;
}
.section2 .services {
  margin-top: 10%;
  padding: 40px 120px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
}
.services h3 {
  background: #9ae975;
  font-weight: 500;
  padding: 5px 10px 3px 10px;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
}
.services p {
  width: 60%;
  font-size: 20px;
  font-weight: 500;
}
.container {
  height: 86%;
  width: 100%;
  padding: 0px 120px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.elem {
  flex-shrink: 0;
  height: 250px;
  width: 48%;
  border: 3px solid black;
  border-radius: 50px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 40px;
  display: flex;
  box-shadow: 0px 10px 0px black;
}
.elem-part1 {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.elem-part2 {
  height: 100%;
  width: 50%;
}
.elem-part2 img {
  height: 100%;
  margin-left: 15%;
}
.elem-part1 h2 {
  font-size: 30px;
  font-family: cursive;
  width: 90%;
  padding: 0px 5px;
  border-radius: 10px;
  font-weight: 500;
  background-color: #9ae975;
}
.elem-part1 h4 {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  gap: 20px;
}
.elem-part1 h4 i {
  padding: 10px;
  background: black;
  color: #fff;
  border-radius: 50%;
  font-weight: 900;
}
.black {
  background: #000;
}
