* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cursor {
  height: 30px;
  width: 30px;
  background: #fff;
  border-radius: 50%;
  position: fixed;
  font-size: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 9;
}
#image {
  height: 30vw;
  width: 60vw;
  background: red;
  position: relative;
}
#image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#overlay {
  height: 100%;
  width: 100%;
  background: transparent;
  position: absolute;
  z-index: 10;
}
