* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background: #111;
  display: flex;
  align-items: center;
  justify-items: center;
}
h1 {
  font-size: 100px;
  overflow: hidden;
}
h1 span {
  display: inline-block;
}
