* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #111;
}
#page1,
#page2,
#page3 {
  height: 100vh;
  width: 100%;
  padding: 5vw 0;
}
#move {
  background-color: #d8ff04;
  display: flex;
  padding: 1vw 0;
  overflow: hidden;
}
.marque {
  display: flex;
  align-items: center;
  gap: 3vw;
  padding: 0 1.5vw;
  flex-shrink: 0;
  transform: translateX(-100%);
}
.marque h1 {
  font-size: 30px;
}
.marque img {
  height: 2vw;
}
